<!-- ----------------------------------------------------------------------- -->
<!--                                 header                                  -->
<!-- ----------------------------------------------------------------------- -->

<!DOCTYPE html>
<html>
<head>
  
    <link rel="stylesheet" type="text/css" href="/assets/test.css" />
   
    <title> AshGames_Killer </title>

</head>

<body>

<div class="menu">

    <a href = "/" class = "header item" > Killer </a>
    <a href= "/auth/login" class="header item"> Connection </a>
    <a href= "/auth/register" class="header item"> Nouveau profil </a>

</div>

<div class="ui main container">

<h1> Login </h1>

<!-- ----------------------------------------------------------------------- -->
<!--                              Message flash                              -->
<!-- ----------------------------------------------------------------------- -->
<div class = "flash">
    <% if(locals.flash && locals.flash.error){ %>

        <div type="text" class="negative">
            <%= flash.error %>
        </div>

    <% } %>

    <% if(locals.flash && locals.flash.success){ %>

        <div class="positive">
            <%= flash.success %>
        </div>
        
    <% } %>
</div>
<!-- ----------------------------------------------------------------------- -->
<!--                                login                                    -->
<!-- ----------------------------------------------------------------------- -->


<form action="/auth/login" method="post" class="form">

    <div class="name">
        <input type="text" name="loginPlayer" placeholder = "Username"></input>
    </div>

    <div class="pwd">
        <input type="password" name="loginPlayer" placeholder = "Password"></input>
    </div>
    
    <button type="submit" class="button">Envoyer</button>

</form>

<% include ('../footer.ejs') %>