<!-- ----------------------------------------------------------------------- -->
<!--                                 header                                  -->
<!-- ----------------------------------------------------------------------- -->

<!DOCTYPE html>
<html>
<head>
  
    <link rel="stylesheet" type="text/css" href="/assets/semantic/semantic.min.css" />
    <title> AshGames_Killer </title>

</head>

<body>

<div class="menu">

  <div class="ui pointing menu">
    <a href = "/" class="item">
      Killer
    </a>

    <a href= "/auth/login" class="active item">
      Login
    </a>

  </div>
  
  <p></p>
</div>

<div class="ui main container">

<h1> Login </h1>

<!-- ----------------------------------------------------------------------- -->
<!--                              Message flash                              -->
<!-- ----------------------------------------------------------------------- -->
<div class = "flash">
    <% if(locals.flash && locals.flash.error){ %>

        <div type="text" class="negative">
            <%= flash.error %>
        </div>

    <% } %>

    <% if(locals.flash && locals.flash.success){ %>

        <div class="positive">
            <%= flash.success %>
        </div>
        
    <% } %>
</div>

<form action="/auth/login" method="post" class="form">

  <div class="ui placeholder segment">
  
    <div class="ui form">

      <div class="field">
        <label>Username</label>
        <div class="ui left icon input">
          <i class="user icon"></i>
          <input type="text" 
          name="loginPlayer" 
          placeholder = "Username">
        </div>
      </div>

      <div class="field">
        <label>Password</label>
        <div class="ui left icon input">
          <i class="lock icon"></i>
          <input type="password" 
          name="loginPlayer" 
          placeholder = "Password">
        </div>
      </div>

      <button type="submit" class="ui blue submit button">Login</button>
          
      <div class="ui horizontal divider">
        Or
      </div>

      <div class="middle aligned column">
        <div class="ui big button">
          <i class="signup icon"></i>
          <a href= "/auth/register"> Sign up </a>
        </div>
      </div>

    </div>
  </div>

</form>

<% include ('../footer.ejs') %>