<!-- ----------------------------------------------------------------------- -->
<!--                                 header                                  -->
<!-- ----------------------------------------------------------------------- -->

<%- include('../header.ejs') %>

<h1> Register </h1>

<%- include('../flash.ejs') %>

<!-- ----------------------------------------------------------------------- -->
<!--                                register                                 -->
<!-- ----------------------------------------------------------------------- -->


    <form action="/auth/register" method="post" class="form">

        <div class="name">
            <input type="text" name="paramPlayer" id="name" placeholder = "Username"></input>
        </div>

        <div class="pwd">
            <input type="password" name="paramPlayer" id="pwd" placeholder = "Password"></input>
        </div>
        
        <button type="submit" class="button">Envoyer</button>

    </form>

    <div class="bottom-menu">
    
        <div class="ui menu">
            <a href = "/" class="item">  Killer </a>
            <a href= "/auth/login" class="active item"> <img src="/assets/picture/connexion.png"/></a>
          </div>
        <p></p>
    </div>
      
    <% include ('../footer.ejs') %>