<!-- ----------------------------------------------------------------------- -->
<!--                                 header                                  -->
<!-- ----------------------------------------------------------------------- -->

<!DOCTYPE html>
<html>
    <head>
  
        <link rel="stylesheet" type="text/css" href="/assets/semantic/semantic.min.css" />
        <title> AshGames_Killer </title>
    
    </head>
    
    <body>
    
    <div class="menu">
    
      <div class="ui pointing menu">
        <a href = "/" class="item">
          Killer
        </a>
    
        <a href= "/auth/login" class="item">
          Login
        </a>
        
        <a href= "/auth/register" class="active item">
            Register
        </a>
      </div>
      
      <p></p>
    </div>

<div class="ui main container">

<h1> Register </h1>

<!-- ----------------------------------------------------------------------- -->
<!--                              Message flash                              -->
<!-- ----------------------------------------------------------------------- -->

<% if(locals.flash && locals.flash.error){ %>

    <div class="negative">

        <%= flash.error %>

    </div>

<% } %>

<% if(locals.flash && locals.flash.success){ %>

    <div class="positive">
    
        <%= flash.success %>
    
    </div>
    
<% } %>

<!-- ----------------------------------------------------------------------- -->
<!--                                register                                 -->
<!-- ----------------------------------------------------------------------- -->


    <form action="/auth/register" method="post" class="form">

        <div class="name">
            <input type="text" name="paramPlayer" id="name" placeholder = "Username"></input>
        </div>

        <div class="pwd">
            <input type="password" name="paramPlayer" id="pwd" placeholder = "Password"></input>
        </div>
        
        <button type="submit" class="button">Envoyer</button>

    </form>

    <% include ('../footer.ejs') %>