<!-- ----------------------------------------------------------------------- -->
<!--                                 header                                  -->
<!-- ----------------------------------------------------------------------- -->

<%- include('../header.ejs') %>

<h1> Register </h1>

<%- include('../flash.ejs') %>

<!-- ----------------------------------------------------------------------- -->
<!--                                register                                 -->
<!-- ----------------------------------------------------------------------- -->


    <form action="/auth/register" method="post" class="form">
        <div class="ui placeholder segment">
            <div class="ui form">

                <div class="middle aligned column">
                    <div class="ui big button">
                      <i class="signup icon"></i>
                      <a href= "/auth/login"> Login </a>
                    </div>
                </div>

                <div class="ui horizontal divider">
                    Or
                </div>

                <div class="field">
                    <label>Username</label>
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" 
                               name="paramPlayer"
                               id="name"
                               placeholder="Username"
                               maxlength="20"
                               oninput="updateCharacterCount()"> 
                    </div>
                    <p><small>Caractères restants : <span id="charCount">20</span></small></p> 
                </div>

                <script>
                    function updateCharacterCount() {
                        const maxLength = 20;
                        const inputField = document.getElementById('name');
                        const charCount = document.getElementById('charCount');
                        
                        const remainingChars = maxLength - inputField.value.length;
                        
                        // Mise à jour du compteur de caractères restants
                        charCount.textContent = remainingChars;
                    }
                </script>

                <div class="field">
                    <label>Password</label>
                    <div class="ui left icon input">
                      <i class="lock icon"></i>
                      <input type="password" 
                      name="paramPlayer" 
                      id="pwd"
                      placeholder = "Password"
                      maxlength="20"
                      oninput="updateCharacterCountMdp()">
                    </div>
                    <p><small>Caractères restants : <span id="MdpCharCount">20</span></small></p> 
                </div>
                
                
                <script>
                    function updateCharacterCountMdp() {
                        const maxLength = 20;
                        const inputField = document.getElementById('pwd');
                        const charCount = document.getElementById('MdpCharCount');
                        
                        const remainingChars = maxLength - inputField.value.length;
                        
                        // Mise à jour du compteur de caractères restants
                        charCount.textContent = remainingChars;
                    }
                </script>

                <button type="submit" class="ui blue submit button">Envoyer</button>
        
            </div>
        </div>
    </form>

    <%- include('../menu_off.ejs') %>
      
    <%- include ('../footer.ejs') %>