<!-- ----------------------------------------------------------------------- -->
<!--                                 header                                  -->
<!-- ----------------------------------------------------------------------- -->
<!DOCTYPE html>
<html>
    
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/semantic/semantic.min.css" />
    <link rel="stylesheet" href="/assets/menu.css">
    <link rel="stylesheet" href="/assets/card.css">
    <link rel="stylesheet" href="/assets/page.css">
    <link rel="stylesheet" href="/assets/toggle.css">

    <title> AshGames_Killer </title>

</head>

<body>

<div class="ui main container">


