<!-- ----------------------------------------------------------------------- -->
<!--                                 header                                  -->
<!-- ----------------------------------------------------------------------- -->


    <div class="menu">
    
        <div class="ui pointing menu">
            <a href = "/" class="item"> Killer </a>
            <a href= "/friend" class="active item"> Friend </a>
            <a href= "/game/create" class="item"> Create Game </a>
            <a href= "/game/load" class="item"> Load Game </a>
            
            <a href= "/game/historique" class="right item"> Historique</a>
            <a href= "/auth/disconnect" class="right item"> Disconnect </a>
        </div>
          
        <p></p>
    </div>

<div class="ui main container"></div>

<div class="ui comments">
    
<!-- ----------------------------------------------------------------------- -->
<!--                              Message flash                              -->
<!-- ----------------------------------------------------------------------- -->

<% if(locals.flash && locals.flash.error){ %>

    <div class="ui negative message">

        <%= flash.error %>

    </div>

<% } %>

<% if(locals.flash && locals.flash.success){ %>

    <div class="ui positive message">
    
        <%= flash.success %>
    
    </div>
    
<% } %>

</div>

