<!-- ----------------------------------------------------------------------- -->
<!--                                 header                                  -->
<!-- ----------------------------------------------------------------------- -->

<!DOCTYPE html>
<html>
<head>

    <title> AshGames_Killer </title>

    <link rel="stylesheet" href="/assets/semantic/semantic.min.css">

    <style>

        .main.container{
            margin-top: 7em;
        }

    </style>
    
</head>

<body>

<div class="ui fixed inverted menu">

<a href = "/" class = "header item" > Killer </a>
<a href= "/auth/login" class="header item"> Connection </a>
<a href= "/auth/register" class="header item"> Nouveau profil </a>
<a href= "/game/create" class="header item"> Create Game </a>
<a href= "/game/load" class="header item"> Load Game </a>

</div>

<div class="ui main container"></div>

<h1>  Home Page </h1>

<div class="ui comments">

<!-- ----------------------------------------------------------------------- -->
<!--                              Message flash                              -->
<!-- ----------------------------------------------------------------------- -->

<% if(locals.flash && locals.flash.error){ %>

    <div class="ui negative message">

        <%= flash.error %>

    </div>

<% } %>

<% if(locals.flash && locals.flash.success){ %>

    <div class="ui positive message">
    
        <%= flash.success %>
    
    </div>
    
<% } %>

</div>

<% include ('footer') %>