<!-- ----------------------------------------------------------------------- -->
<!--                                 header                                  -->
<!-- ----------------------------------------------------------------------- -->

<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" type="text/css" href="/assets/test.css" />

    <title> AshGames_Killer </title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>

<body>

<div class="menu">

    <a href = "/" class = "header item" > Killer </a>

    <% if(data.user == undefined || data.user == ''){ %>
        <a href= "/auth/login" class="header item"> Connection </a>
        <a href= "/auth/register" class="header item"> Nouveau profil </a>
    <%} else { %>
        <a href= "/auth/disconnect" class="header item"> Disconnect </a>
        <a href= "/friend" class="header item"> Friend </a>
        <a href= "/game/create" class="header item"> Create Game </a>
        <a href= "/game/load" class="header item"> Load Game </a>
        <a href= "/game/historique" class="header item"> Historique</a>

    <%}%>
</div>

<div class="ui main container"></div>

<h1>  Home Page </h1>

<% include ('footer') %>