<!-- ----------------------------------------------------------------------- -->
<!--                                 header                                  -->
<!-- ----------------------------------------------------------------------- -->

<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" type="text/css" href="/assets/semantic/semantic.min.css" />
    <title> AshGames_Killer </title>
    
</head>

<body>

<div class="menu">

    <div class="ui pointing menu">
        <a href = "/" class="active item"> Killer </a>

        <% if(data.user == undefined || data.user == ''){ %>
            <a href= "/auth/login" class="item"> Login</a>
        <%} else { %>
            <a href= "/friend" class="item"> Friend </a>
            <a href= "/game/create" class="item"> Create Game </a>
            <a href= "/game/load" class="item"> Load Game </a>
            <a href= "/game/historique" class="item"> Historique</a>
            
            <a href= "/auth/disconnect" class="right item"> Disconnect </a>
        <%}%>
    </div>
      
    <p></p>
</div>

<div class="ui main container"></div>

<h1>  Home Page </h1>

<% include ('footer') %>