<!-- ----------------------------------------------------------------------- -->
<!--                                 header                                  -->
<!-- ----------------------------------------------------------------------- -->

<%- include('./header.ejs') %>

<h1>  Home Page </h1>

<%- include ('./flash.ejs') %>

<% if(data.user == undefined || data.user == ''){ %>
    <div class="bottom-menu"></div>
        <div class="ui menu">
            <a href = "/" class="item">  Killer </a>
            <a href= "/auth/login" class="item"> <img src="/assets/picture/connexion.png"/> </a>
        </div> 
        <p></p>
    </div>
<%} else { %>
    <%- include('./menu.ejs') %>
<%}%>

<%- include('./footer.ejs') %>
