<!-- ----------------------------------------------------------------------- -->
<!--                                 header                                  -->
<!-- ----------------------------------------------------------------------- -->

<!DOCTYPE html>
<html>
<head>

    <title> AshGames_Killer </title>

    <link rel="stylesheet" href="/assets/semantic/semantic.min.css">

    <style>

        .menu {
            background-color: #000000;
            display: flex;
            padding: 10px;
        }

        .menu a {
            text-decoration: none;
            color: #fff;
            padding: 5px 20px;
            background-color: #3e3e3e;
        }

        .menu a:hover {
            background-color: #7a7a7a;
        }
        
        .item {
            margin: 0 10px;
        }

        .main.container{
            margin-top : 10em;
        }

        h1{
            text-align: center;
        }

    
        .flash{
            text-align: center;
            font-weight: bold;
        }

        .negative{
            color: rgb(243, 44, 44);
        }
        
        .positive{
            color: rgb(5, 132, 10);
        }

    </style>
    
</head>

<body>

<div class="menu">

    <a href = "/" class = "header item" > Killer </a>

    <% if(data.user == undefined || data.user == ''){ %>
        <a href= "/auth/login" class="header item"> Connection </a>
        <a href= "/auth/register" class="header item"> Nouveau profil </a>
    <%} else { %>
        <a href= "/auth/disconnect" class="header item"> Disconnect </a>
        <a href= "/friend" class="header item"> Friend </a>
        <a href= "/game/create" class="header item"> Create Game </a>
        <a href= "/game/load" class="header item"> Load Game </a>
        <a href= "/game/historique" class="header item"> Historique</a>

    <%}%>
</div>

<div class="ui main container"></div>

<h1>  Home Page </h1>

<!-- ----------------------------------------------------------------------- -->
<!--                              Message flash                              -->
<!-- ----------------------------------------------------------------------- -->
<!--
<% if(locals.flash && locals.flash.error){ %>

    <div class="negative">

        <%= flash.error %>

    </div>

<% } %>

<% if(locals.flash && locals.flash.success){ %>

    <div class="positive">
    
        <%= flash.success %>
    
    </div>
    
<% } %>
-->
<% include ('footer') %>