
<div class="invisible-zone"></div>
<div class="bottom-zone"></div>

<div class="bottom-menu">
    
    <div class="ui menu">
        <a href = "/" class="item">  Killer </a>
        <a href= "/friend" class="item"> <img src="/assets/picture/addFriends.png"/> </a>
        <a href= "/game/create" class="item"> <img src="/assets/picture/new.png"/> </a>
        <a href= "/game/load" class="item"> <img src="/assets/picture/knife.png"/> </a>
        <a href= "/game/historique" class="item"> <img src="/assets/picture/historique.png"/> </a>
        <a href= "/auth/disconnect" class="item"> <img src="/assets/picture/disconnect.png"/> </a>
    </div>
</div>