<!-- ----------------------------------------------------------------------- -->
<!--                                 header                                  -->
<!-- ----------------------------------------------------------------------- -->

<%- include('../header.ejs') %>

<h1> Create Game </h1>

<%- include('../flash.ejs') %>

<!-- ----------------------------------------------------------------------- -->
<!--                                Create Game                              -->
<!-- ----------------------------------------------------------------------- -->
    
    <form action="/game/create" method="post" class="ui form">

        <div class="field">
            <label for="paramGameName">Nom de la Partie</label>
            <textarea name="paramGame" id="name" style="height: 0px; width: 200px;"></textarea>
        </div>

        <div class="field">
            <label for="paramGameTps">Temps Partie</label>
            <textarea name="paramGame" id="tps" style="height: 0px; width: 200px;"></textarea>
        </div>

        <button type="submit" class="ui blue labeled submit icon button">

            <i class="icon edit"></i>Envoyer
       
        </button>

    </form>


    <%- include ('../menu.ejs') %>

    <%- include ('../footer.ejs') %>