<!-- ----------------------------------------------------------------------- -->
<!--                                 header                                  -->
<!-- ----------------------------------------------------------------------- -->

<!DOCTYPE html>
<html>
<head>

    <title> AshGames_Killer </title>

    <link rel="stylesheet" href="/assets/semantic/semantic.min.css">

    <style>

        .main.container{
            margin-top: 7em;
        }

    </style>
    
</head>

<body>

<div class="ui fixed inverted menu">

    <a href = "/" class = "header item" > Killer </a>
    <a href= "/game/create" class="header item"> Create Game </a>
    <a href= "/game/load" class="header item"> Load Game </a>

</div>

<div class="ui main container">

<h1> Init Game </h1>

<!-- ----------------------------------------------------------------------- -->
<!--                              Message flash                              -->
<!-- ----------------------------------------------------------------------- -->

<% if(locals.flash && locals.flash.error){ %>

    <div class="ui negative message">

        <%= flash.error %>

    </div>

<% } %>

<% if(locals.flash && locals.flash.success){ %>

    <div class="ui positive message">
    
        <%= flash.success %>
    
    </div>
    
<% } %>>

<!-- ----------------------------------------------------------------------- -->
<!--                                Init                                -->
<!-- ----------------------------------------------------------------------- -->

<form action="/game/init" method="post" class="ui form">

        <div class="field">
            <label for="nameOfPlayer">Nom du joueur <%= nbAdd %></label>
            <textarea name="nameOfPlayer" id="name" style="height: 0px; width: 200px;"></textarea>
        </div>
        
    <button type="submit" class="ui blue labeled submit icon button">

        <i class="icon edit"></i>Envoyer

    </button>

</form>

<% include ('../footer.ejs') %>