<!-- ----------------------------------------------------------------------- -->
<!--                                 header                                  -->
<!-- ----------------------------------------------------------------------- -->

<!DOCTYPE html>
<html>
<head>

    <title> AshGames_Killer </title>

    <style>
        .main.container{
            margin-top: 5em;
            margin-left: 7em;
        }
        
        h1{
            color : red;
        }


    </style>
</head>

<body>

<div class="ui fixed inverted menu">

    <a href = "/" class = "header item" > Killer </a>
    <a href= "/auth/disconnect" class="header item"> Disconnect </a>
    <a href= "/friend" class="header item"> Friend </a>
    <a href= "/game/create" class="header item"> Create Game </a>
    <a href= "/game/load" class="header item"> Load Game </a>
    <a href= "/game/historique" class="header item"> Historique</a>

</div>

<div class="ui main container">

<h1> Load Game </h1>

<!-- ----------------------------------------------------------------------- -->
<!--                              Message flash                              -->
<!-- ----------------------------------------------------------------------- -->

<% if(locals.flash && locals.flash.error){ %>
    <div class="ui negative message">
        <%= flash.error %>
    </div>
<% } %>

<% if(locals.flash && locals.flash.success){ %>
    <div class="ui positive message">
            <%= flash.success %>
    </div>
<% } %>

<!-- ----------------------------------------------------------------------- -->
<!--                                ask game                                 -->
<!-- ----------------------------------------------------------------------- -->

    <form action="/game/load" method="post" class="ui form">
        
        Liste des Parties en cours :

        <p></p>

        <% for (var i = 0; i < name.length; i++) { %>
            <button type="submit" class="ui blue labeled submit icon button game-button" name="gameName" value="<%= name[i] %>">
                <i class="icon edit"></i> <%= name[i] %> 
            </button>
        <% } %>

    </form>



    <% include ('../footer.ejs') %>