<!-- ----------------------------------------------------------------------- -->
<!--                                 header                                  -->
<!-- ----------------------------------------------------------------------- -->

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> AshGames_Killer </title>
        <link rel="stylesheet" href="/assets/semantic/semantic.min.css">
        
    </head>
    
    <body>
    
        <div class="menu">
    
            <div class="ui pointing menu">
                <a href = "/" class="item"> Killer </a>
                <a href= "/friend" class="item"> Friend </a>
                <a href= "/game/create" class="item"> Create Game </a>
                <a href= "/game/load" class="active item"> Load Game </a>
                <a href= "/game/historique" class="item"> Historique</a>

                <a href= "../auth/disconnect" class="right item"> Disconnect </a>
            </div>
              
            <p></p>
        </div>

<div class="ui main container">

<h1> Load Game </h1>

<!-- ----------------------------------------------------------------------- -->
<!--                              Message flash                              -->
<!-- ----------------------------------------------------------------------- -->

<% if(locals.flash && locals.flash.error){ %>
    <div class="ui negative message">
        <%= flash.error %>
    </div>
<% } %>

<% if(locals.flash && locals.flash.success){ %>
    <div class="ui positive message">
            <%= flash.success %>
    </div>
<% } %>

<!-- ----------------------------------------------------------------------- -->
<!--                                ask game                                 -->
<!-- ----------------------------------------------------------------------- -->

    <form action="/game/load" method="post" class="ui form">
        
        Liste des Parties en cours :

        <p></p>

        <% for (var i = 0; i < name.length; i++) { %>
            <button type="submit" class="ui blue labeled submit icon button game-button" name="gameName" value="<%= name[i] %>">
                <i class="icon edit"></i> <%= name[i] %> 
            </button>
        <% } %>

    </form>



    <% include ('../footer.ejs') %>