      
    .bottom-menu {
        position: fixed;
        bottom: 2%;
        margin: -3%;
        width: 100%;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
    }
    
    .ui.menu {
        display: flex; /* Utilise flexbox pour l'alignement */
        justify-content: space-around; /* Répartit les éléments uniformément */
    }
        
