@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

  body{
    font-family: 'Orbitron', sans-serif;
    background-color: #1e1e1e;
    color: #000000;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  h1 {
    font-size: 3rem;
    text-transform: uppercase;
    margin-top: 20px;
    color: #e63946;
  }

  h1 p {
    font-size: 1.5rem;
    color: #f4a261;
    text-align: center;
  }

  .container {
    width: 95%;
    margin: auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(230, 57, 70, 1);
    margin-top: 10px;
  }

  h2 {
    color: #f4a261;
    text-transform: uppercase;
    border-bottom: 2px solid #f4a261;
    padding-bottom: 5px;
    margin-top: 20px;
  }

  h2, p {
    font-size: 1.5rem;
    color: #ffffff;
  }
  
  h6{
    font-size: 0.8rem;
    margin-top: 0px;
    color: #000000;
  }
  p, li {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #ffffff;
    text-align: left;
  }

  strong {
    color: #e63946;
  }

  .underline {
    text-decoration: solid;
    color: #f4a261;
  }

  ol, ul {
    text-align: left;
    display: inline-block;
    margin: 0 auto;
  }
